__pycache__/*

Bucky_results/*/maps/*
Bucky_results/*/plots/*
.vscode/*
.Rproj.user


# ignore R history and logs
.Rhistory
*.log

# pycharm
.idea

#Mac DSStore
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

#Personal folders
Experiments/